body 
{
    margin-top: 10vh;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1) 20% ),url('Images/Other/WorldsAdrift.jpg') no-repeat center fixed ;
    background-size: cover;
    overflow-x: hidden;
    font-size: larger;
    background-color: black;
    font-family: 'montserrat','helvetica neue','Arial','sans-serif';
    
}

#StickyBar
{
  background-color: rgb(226, 143, 9);
  position: fixed;
  z-index: 3;
  padding: 0 6vw 0 6vw;
  padding-top: 0.9vh;
  top: 0;
  left : 0;
  right: 0;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-content: center;   
}

#StickyName
{
  left:0;
  width: 2.3vw;
}

#StickyName a
{
  color:#000000;
  
}

#StickyMenu
{
    float: right;
}


.bar1, .bar2, .bar3 
{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
  
.Header
{
    height: 100vh;
}

.HeaderText
{
    color: rgb(226, 143, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#Martin
{
    width: inherit;
    height: inherit;
    justify-content: center;
    text-align: center;
}


#Martin h1
{
    padding-bottom: 5vh;
}
#maFace
{
    width: 150px;
    height: 150px;
    object-fit:fill;
    border-style: groove;
    border-radius: 50%;
    border-color: black;
    border-width: 2,5px;
}
.Titles
{
    font-weight: 700;
    color:#D5F2F5;
    -webkit-text-stroke:1px black
}
#Nom
{
    font-size:calc(12px + .7vw);
}

#HeaderLinks
{
    padding-top: 1vh;
    padding-bottom: 1vh;
    justify-content: center;
    color: aliceblue;
    display: flex;
    flex-direction: row;
}

#HeaderLinks img 
{
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

#BodyCV
{
  margin: auto;
  margin-top: 5%;
  display: flex;
  width: 100vw;
  /* position: relative; */
  flex-direction: column;
  text-align: left;
}

.cards
{
  width: 80vw;
  margin-left: 8vw;
  
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 1vw 1vw 1vw 1vw;
  color: #2c2c2c;
  background-color: white;
  box-shadow: 2px 2px 10px grey;
}

#CompInformatique span
{
    font-size: 20px;
    font-weight: 500;
    color: rgb(22, 2, 120);
}

.Portfolio
{
    align-self: center;
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    color: #2c2c2c;
    
}

.folioContainer
{
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 5vh;
  scroll-snap-type: x mandatory;
  column-gap: 20em;
  height: fit-content;
  
}

.folioItem
{

  flex-direction: row;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  min-width: 90%;
  min-height: fit-content;
  scroll-snap-align: center;
  text-align: left;
  display: flex;
  position: relative;
  font-size: 1rem;

  justify-content: center;

  scroll-snap-align: center;
  
}

.folioItem img
{
  box-shadow: 2px 2px 10px grey;
  width: 20vw;
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #TopPage
  {
    text-decoration: none;
    color: inherit;
  }
  .sidebar a {

    padding: 8px 8px 8px 8px;
    padding-left: 64px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    padding-left: 8px;
    left: 0px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main 
  {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #ExperiencesPro
  {
      margin-top: 3vh;
      overflow-y: hidden;
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      margin: auto;
      padding-bottom: 5vh;
      scroll-snap-type: x mandatory;
      column-gap: 20vw;
  }
  
  .Job
    {
      background-color: #e0e0e0;
      display: flex;
      flex-direction: row;
      margin-top: 3%;
      margin-left: 3%;
      margin-right: 3%;
      border-style: solid;
      border-color: #111;
      border-width: 0.5px;
      min-width: 90%;
      min-height: 50%;
      scroll-snap-align: center;
      text-align: left;
      position: relative;
      font-size:calc(12px + 1vw);
      box-shadow: 2px 2px 10px grey;
      
    }
    .LeftPartWork
    {
      display: flex;
      flex-direction: column;
      row-gap: 1%;
      width: 45%;
      background-color: rgb(226, 143, 9);;
      color: #000000;
      vertical-align:text-top;
      text-align: center;
      text-transform: uppercase;
      padding: 1.5% 1.5% 1.5% 1.5%;
      
    }
  
    .RightPartWork
    {
      background-image: linear-gradient(to bottom, rgba(245,255,252,0) 0%, rgba(245,255,252,1) 79%);
      display: flex;
      flex-direction: column;
      row-gap: 1%;
      width: 60%;
      text-align: center;
      padding: 1.5% 0 0 0;
      max-height: fit-content;
    }
  
    .Post
    {
      margin-top: 3%;
      font-size:calc(10px + 1vw);
      font-weight: bold;
      text-decoration: underline;
    }
  
    .Description
    {
      padding-left: 1.5%;
      padding-right: 1.5%;
      border-width: 0.5px;
      text-align:start;
      font-size:calc(9px + 1vw);
    }
  
    .Duration
    {
      font-size:calc(5px + 1vw);
      margin-top: 3%;
    }
    .WorkPlace
    {
      margin-top: 2%;
      font-size:calc(9px + 1vw);
      font-weight: 500;
    }
  
    .logo img
    {
      align-self: center;
      width: 70%;
    }


  
  #Education
  {
    margin-top: 3%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 5%;
    scroll-snap-type: x mandatory;
    column-gap: 20em;
  }
  .Class
  {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-style: solid;
    border-color: #111;
    border-width: 0.5px;
    min-width: 90%;
    min-height: 20%;
    scroll-snap-align: center;
    text-align: left;
    position: relative;
    font-size:calc(12px + 1vw);
    box-shadow: 2px 2px 10px grey;
  }
  .LeftPartEd
  {
    display: flex;
    flex-direction: column;
    row-gap: 15%;
    width: 45%;
    background-color: rgb(226, 143, 9);
    color: #000000;
    vertical-align:text-top;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5% 1.5% 1.5% 1.5%;   
    
  }

  .RightPartEd
  {
    background-image: linear-gradient(to bottom, rgba(245,255,252,0) 0%, rgba(245,255,252,1) 79%);
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    width: 60%;
    text-align: center;
    padding: 1.5% 0 0 0;
    max-height: fit-content;
  }

  .EdTitle
  {
    margin-top: 3%;
    font-size:calc(12px + 1vw);
    font-weight: bold;
    text-decoration: underline;
  }

  .School
  {
    margin-top: 2%;
    font-size:calc(9px + 1vw);
    font-weight: 500;
  }

  #InfoDiv
  {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  #InfoDiv div
  {
    padding-left: 5px;
    box-shadow: 2px 2px 10px grey;
    width: 40%;
  }

  #InfoDiv div h2
  {
    text-align: center;
  }

  

  #ITSkills
  {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-bottom: 5%;
    scroll-snap-type: x mandatory;
    column-gap: 20em;
  }

  .ITSkillsShard
  {
    color:rgb(23, 4, 168);
    border-style: solid;
    border-color: #111;
    border-width: 0.5px;
    min-width: 90%;
    scroll-snap-align: center;
    text-align: left;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    box-shadow: 2px 2px 10px grey;
    margin-left: 3%;
    margin-right: 3%;
  }

  a
  {
    text-decoration: none;
    font-weight: 700;
    color : red;
  }

  .APropos
{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom : 3%;

}

  #InfosAPropos
  {
      overflow-y: hidden;
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      margin: auto;
      padding-bottom: 5%;
      scroll-snap-type: x mandatory;
      column-gap: 20em;
  }

  .Infos
{
    border-style: solid;
    border-color: #111;
    border-width: 0.5px;
    min-width: 90%;
    scroll-snap-align: center;
    text-align: left;
    justify-content: left;
    position: relative;
    font-size: 1rem;
    box-shadow: 2px 2px 10px grey;
    margin-left: 3%;
    margin-right: 3%;
    

}

ul
{
    word-wrap: break-word;
    padding-inline-start:3em
}

h3
{
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}

h4
{
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}



#P1C
{
  height: 18px;
  border-style: outset;
}

#P1J
{
  height: 18px;
  border-style: outset;
}

#P1S
{
  height: 18px;
  border-style: outset;
}

#navigationPoints
{
  font-size: 3.5em;
  display: flex;
  justify-content: center;
}

#navigationPoints span 
{
  margin-left: 2%;
  margin-right: 2%;
  border-style: outset;
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 30%;
  display: inline-block;
  border-color: rgb(226, 143, 9);;
}

#navigationPoints :hover
{
  background-color: rgb(226, 143, 9);
}


